.wrapper {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

.sidebar {
	position: relative;
	display: block;
	width: 400px;
	overflow: auto;
	background: #383838;
}

.container {
	display: flex;
	flex: 1;
	background: #F2F2F2;
	flex-direction: column;
}

.header {
	height: 90px;
	background: #FFFFFF;
	box-shadow:0 4px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 16px;
}

.content {
	flex: 1;
	overflow: auto;
	padding: 20px 30px;
}

.menu {
	display: block;
	margin: 170px 30px;
}

.menu-logo{
	position: absolute;
	width: 210px;
	height: 80px;
	left: 0px;
	top: 0px;
	background: #383838;
}
.menu-logo-icon{
	position: absolute;
	width: 210.7px;
	height: 67.2px;
	left: 93px;
	top: 59px;
}

.menu-item{
	display: block;
	border-bottom: 1px solid rgba(242,242,242,0.1);
}

.menu-item a {
	display: flex;
	height: 70px;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* or 122% */
	align-items: center;
	text-transform: uppercase;
	color: #B7B7B7;
}

.menu-item:last-child {
	border: none;
}

.menu-item-link.active,
.menu-item-link:hover{
	color: #fff;
	background: rgba(255, 255, 255, 0.05);
}
